<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce - Login</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>Login</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/register">Registrar</a>
        <a href="/avaliacoes">Avaliações</a>
      </nav>
    </header>
    <main>
      <div class="login-card">
        <h2>Entre na sua conta</h2>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul class="flashes">
          {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
        <form method="POST">
          <label for="username">Usuário:</label>
          <input type="text" id="username" name="username" required />
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" required />
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
